body {
  background-color: #171717;
}
#countdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  margin: 0 auto;
  font-size: 24px;
  color: white;
}

.countdown-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.countdown-value {
  font-size: 48px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.countdown-label {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: monospace;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
  font-size: 3em;
}
#actualtime {
  margin-top: 20px;
  font-size: 30px;
  color: white;
  text-align: center;
  font-family: monospace;
}
#time {
  background-color: #232323;
  border:2px;
  text-align: center;
  font-size: 15px;
  color:#565656;
}
#timeD {
  text-align: center;
  margin-top: 30px;
}
